/* Required for full background image */

.page-header{
  height: 100vh;
  width: 100%;
  background-image: url( https://i.pinimg.com/originals/a2/55/1f/a2551fa931ede67c614b4028fdc5c3b0.jpg ) !important;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: soft-light;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.navbar:not(.top-nav-collapse), #buttons {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background-color: black !important;
  }
}

#buttons{
  width: 100%;
}