<header class="page-header">
  <!-- Navbar -->
  <div class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h4 class="txtyellow" style="float: right;"><i class="fas fa-phone"></i> 936.760.7800</h4>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link pull-left" href="#" data-offset="90">BLOG</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">AGENTS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="30">OUR LISTINGS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">BUY</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">SILL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">FINANCE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#NEIGHBORDHOODS" data-offset="90">NEIGHBORDHOODS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Navbar -->
  <section id="buttons" class="text-center py-3">
    <div class="container">
      <h5 class="text-uppercase txtyellow">PROPERTY SEARCH</h5>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-light dropdown-toggle btn-block" data-toggle="dropdown"><strong>PROPERTY
            TYPE</strong></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-outline-light dropdown-toggle btn-block" data-toggle="dropdown"><strong>CITY</strong></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">1</a>
          <a class="dropdown-item" href="#">2</a>
          <a class="dropdown-item" href="#">3</a>
        </div>
      </div>
      <button type="button" class="btn btn-outline-light"><strong>BATH</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>BATHROOM</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>MIN. PRICE</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>MAX. PRICE</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>MLS</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>SEARCH</strong></button>
      <button type="button" class="btn btn-outline-light"><strong>ADVANCED</strong></button>
    </div>
  </section>
</header>