<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light indigo fixed-top scrolling-navbar">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNavbar">
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">HOME</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">BLOG</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">AGENTS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="30">OUR LISTINGS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">BUY</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">SILL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">FINANCE</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#NEIGHBORDHOODS" data-offset="90">NEIGHBORDHOODS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#" data-offset="90">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
  <div class="view">
    <img src="assets/imgs/HomePage.jpg" class="img-fluid" alt="Responsive image">
  </div>
</header>