<section id="tags" class="text-center py-3">
  <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="container">
      <div class="row">
        <div class=" col-sm-6 col-md-3 mx-auto my-3">
            <div class="text2"><strong>FINANCE YOUR</strong></div>
          <button type="button" class="btn btn-outline-dark">Dream home in the Woodlands</button>
        </div>
        <div class="col-sm-6 col-md-3 mx-auto my-3">
          <div class="dropright">
              <div class="text2"><strong>THE SECRET</strong></div>
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown">
              To selling you home
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 mx-auto my-3">
            <div class="text2"><strong>WHAT IS</strong></div>
          <button type="button" class="btn btn-outline-dark">My home worth?</button>
        </div>
        <div class="col-sm-6 col-md-3 mx-auto my-3">
          <div class="text2"><strong>NEW</strong></div>
          <button type="button" class="btn btn-outline-dark">Construction</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="NEIGHBORDHOODS" class="text-center py-4" style="background-color: #eee;">
  <div class="container py-4">
    <h4>FEATURED NEIGHBORDHOODS</h4>
    <hr class="style">
    <div class="row">
      <div class="col-md-6 col-xl-3 my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"></figure>
        <div class="text"><hr>THE WOODLANDS</div>
      </div>
      <div class="col-md-6 col-xl-3 my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg"></figure>
        <div class="text"><hr>SPRING</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1 img-gradient" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"></figure>
        <div class="text"><hr>MAGNOLIA</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"></figure>
        <div class="text"><hr>MONTGOMERY</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg"></figure>
        <div class="text"><hr>LAKE CONROE</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg"></figure>
        <div class="text"><hr>KINGWOOD</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg"></figure>
        <div class="text"><hr>WILLIS</div>
      </div>
      <div class="col-md-6 col-xl-3 mx-auto my-2 hover">
        <figure><img id="image" class="z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg"></figure>
        <div class="text"><hr>CONROE</div>
      </div>
    </div>
  </div>
</section>

<section id="buy" class="text-center py-3">
  <div class="container py-4">
    <h3>FEATURED PROPERTIES</h3>
    <hr class="style">
    <div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12 col-xl-4 mx-auto">
              <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDtm6oMTjEYm1YP0jwgsxxl7WjMeSlS_A9Ogk3wq4hVZNzborw1A"
                alt="image">
            </div>
            <div class="col-md-12 col-xl-8 mx-auto my-3">
              <div class="card-block px-5 text-left">
                <h4 class="card-title">$ 1,340,230</h4>
                <p class="card-text">Consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea
                  commodo consequat. </p>
                <div class="btn-group dropright">
                  <button type="button" class="btn btn-outline-dark btn-block dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><strong>VIEW PROPERTY DETAILS</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <div class="card">
          <div class="row">
            <div class="col-md-12 col-xl-4 mx-auto">
              <img id="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDtm6oMTjEYm1YP0jwgsxxl7WjMeSlS_A9Ogk3wq4hVZNzborw1A"
                alt="image">
            </div>
            <div class="col-md-12 col-xl-8 mx-auto my-3">
              <div class="card-block px-5 text-left">
                <h4 class="card-title">$ 1,340,230</h4>
                <p class="card-text">Consectetur adipiscing elit, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea
                  commodo consequat. </p>
                <div class="btn-group dropright">
                  <button type="button" class="btn btn-outline-dark btn-block dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><strong>VIEW PROPERTY DETAILS</strong>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>