<!-- Footer -->
<footer class="page-footer font-small blue pt-4">
  <div class="container text-left">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <h4 class="text-uppercase yellow">LASTEST BLOG POST</h4>
        <br>
        <a href="" class="card-link">
          <h5 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Noviembre 11,2014 | By xxxxxxx</h6>
        <hr>
        <a href="" class="card-link">
          <h5 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Noviembre 19,2014 | By xxxxxxx</h6>
        <hr>
        <a href="" class="card-link">
          <h5 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h5>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">Diciembre 19,2014 | By xxxxxxx</h6>
        <hr>
        <a href="#" class="card-link">
          <h6>More blog push >></h6>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">WEICHERT, REALTORS©</h5>
            <h6 class="card-subtitle mb-2 text-muted">Some quick example text to build</h6>
            <br>
            <div class="row">
              <div class="col-sm-12 col-md-6 mx-auto my-3">
                <h6 class="card-subtitle mb-2 text-muted">Phone</h6>
                <h5 class="card-title yellow">(281) 809-0089</h5>
              </div>
              <div class="col-sm-12 col-md-6 mx-auto my-3">
                <h6 class="card-subtitle mb-2 text-muted">Addres</h6>
                <h5 class="card-title yellow">3875 West Davis St. Suite 510, Conroe, TX 77304</h5>
              </div>
            </div>
            <hr>
            <h2 class="text-right">Weichert</h2>
            <h3 class="text-right">Realtors</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-left py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xl-8 mx-auto my-3">
          <p>HOME | BLOG | AGENTS | OUR LISTINGS | BUY | SILL | FINANCE | NEIGHBORDHOODS | CONTACT ©2018 Copyright</p>
        </div>
        <div class="col-md-12 col-xl-4 text-center mx-auto my-3">
          <a href="https://mdbootstrap.com/education/angular/"> MCBootstrap.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->