<!-- Footer -->
<footer class="page-footer">
  <div class="container text-left">
    <div class="row">
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <h5 class="text-uppercase txtyellow">LASTEST BLOG POST</h5>
        <br>
        <a href="" class="card-link">
          <h6 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
        </a>
        <h6 class="card-subtitle">Noviembre 11,2014 | By xxxxxxx</h6>
        <hr>
        <a href="" class="card-link">
          <h6 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
        </a>
        <h6 class="card-subtitle">Noviembre 19,2014 | By xxxxxxx</h6>
        <hr>
        <a href="" class="card-link">
          <h6 class="card-link">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h6>
        </a>
        <h6 class="card-subtitle">Diciembre 19,2014 | By xxxxxxx</h6>
        <hr>
        <a href="#" class="card-link" style="font-size: small;">
          <h6>More blog push >></h6>
        </a>
      </div>
      <div class="col-sm-12 col-md-6 mx-auto my-3">
        <div class="card border border-light">
          <div class="card-body">
            <h5 class="text-uppercase">WEICHERT, REALTORS©</h5>
            <h6 class="card-subtitle">Some quick example text to build</h6>
            <div class="row my-3">
              <div class="col-sm-12 col-md-6 mx-auto my-3">
                <h6 class="card-subtitle">Phone</h6>
                <h5 class="card-title txtyellow">(281) 809-0089</h5>
              </div>
              <div class="col-sm-12 col-md-6 mx-auto my-3">
                <h6 class="card-subtitle">Addres</h6>
                <h5 class="card-title txtyellow">3875 West Davis St. Suite 510, Conroe, TX 77304</h5>
              </div>
            </div>
            <hr>
            <div class="text-right my-2">
                <h3 class="text-uppercase">Weichert<br>Realtors</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xl-8 mx-auto my-2">
          <p>HOME | BLOG | AGENTS | OUR LISTINGS | BUY | SILL | FINANCE | NEIGHBORDHOODS | CONTACT ©2018 Copyright</p>
        </div>
        <div class="col-md-12 col-xl-4 text-center mx-auto my-2">
          <h2>Logo</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->